language: node_js
node_js:
  - 6
script:
  - echo No tests
  - echo test > test
# Put the scraping here


# Run this command to get the value to put in travis env settings:
# cat id_rsa | base64 -w 0
# Note: this value will not be present in 

after_success:
  - bash travis_scrape.sh

cache: yarn

notifications:
  email:
    on_success: never